<nav class='navbar navbar-inverse'>
  <div class='container-fluid'>
    <div class='container'>
      <div class='navbar-header'>
        <%= link_to 'BeautifulBasket','#', class: 'navbar-brand' %>
      </div>
      <div class='collapse navbar-collapse' id='myNavbar'>
        <ul class='nav navbar-nav navbar-right'>
        </ul>
      </div>
    </div>
  </div>
</nav>
