<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel">
      <div class="panel-heading">
        <h4>Create Item</h4>
        <hr>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <%= render partial: 'items/form', locals: { item: @item } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
