body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#main_container {
    min-height: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

#body_container {
    margin: 0 auto;
    padding-bottom: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    margin: 0 auto;
}

.navbar.navbar-inverse {
    border-radius: 0px;
}